{% extends 'website/base.html' %}

{% block script %}

<script>
function listGenres(){
	//var list = {{r.7}};
	//return list;
}
function addTag(){
	var tag = $("#tagField").val();
	$.ajax({
				url: "{% url 'website:addTag'%}",
				data: {"tag": tag, "release": {{query}}},
				success: function(result){
					console.log(result);
					location.reload();
				}
	});
}

function upvoteTag(tagid){
	$.ajax({
				url: "{% url 'website:upvoteTag'%}",
				data: {"tagid": tagid, "release": {{query}}},
				success: function(result){
					console.log(result);
					location.reload();
				}
	});
}

function downvoteTag(tagid){
	$.ajax({
				url: "{% url 'website:downvoteTag'%}",
				data: {"tagid": tagid, "release": {{query}}},
				success: function(result){
					console.log(result);
					location.reload();
				}
	});
}

function explore(){
	var names = [];
	$('input:checked').each(function() {
		names.push($(this).attr("value"));
	});
	window.location.href = '/home/tag/' + names;
}

</script>

{% endblock %}

{% block container %}
<div class="row">
	<div class="col-xs-8">
		<div class="panel panel-default">
			<div class="panel-body">
				{%for r in row1%}
				<div id='title'><strong><h3>Album Title: {{r.2}}</h3></strong></div>
				<div id='country'><strong><h5>Country: {{r.3}}</h5></strong></div>
				<div id='released'><strong><h5>Release Date: {{r.4}}</h5></strong></div>
				<div id='notes'><strong><h5>Notes: {{r.6}}</h5></strong></div>
				<div id='genres'><strong><h5>Genres: {{r.7}}</h5></strong></div>
				<div id='styles'><strong><h5>Styles: {{r.8}}</h5></strong></div>
				{%endfor%}
				{%for r in row2%}
				<div id='artist'><h5>Artist: <a href="/home/searchartist/{{r.3}}">{{r.3}}</a></h5></div>
				{%endfor%}
				{%for r in row3%}
				<div id='label'><h5>Label Text: {{r.0}}</h5></div>
				<div id='catno'><h5>Cat#: {{r.2}}</h5></div>
				<div id="tracks"><h5>Tracks: </h5></div>
				{%endfor%}
				{% for track in tracks%}
					<div id="{{track.2}}">{{track.3}} <small>{{track.4}}</small></div>
				{%endfor%}
				<br>
				<h4>Spotify Info</h4>
				{% if not row4 %}
				Information not available
				{% else %}
				{%for r in row4%}
				<!--<iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%A{{r.1}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>-->
				<!--div id='spotifyalbum'><h5><a href="https://open.spotify.com/album/{{r.1}}">Album Link</a></h5></div>
				<div id='spotifytrack'><h5><a href="https://open.spotify.com/track/{{r.4}}">Song Link</a></h5></div>-->

				<iframe src="https://embed.spotify.com/?uri=spotify:album:{{r.1}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
				{%endfor%}
				{%endif%}
				<br>
				<h4>Youtube Info</h4>
				{%for r in row5%}
					<iframe width="240" height="180" src="http://www.youtube.com/embed/{{r.1}}"></iframe>
					<!--div id='youtubetitle'><h5>Title: {{r.3}}</h5></div>
					<div id='youtubedescription'><h5>Description: {{r.4}}</h5></div>
					<div id='videoduration'><h5>Duration: {{r.5}} seconds</h5></div>
					<div id='Views'><h5>Views: {{r.4}}</h5></div>
					<div id='Rating'>Rating: {{r.7}}</div -->
				{%endfor%}
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>
					Tags
					<button type="button" class="btn btn-default pull-right" aria-label="Left Align" data-toggle="modal" data-target="#addTagModal">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				</h3>
				{%for tag in tags%}
					<div class="row">
						<div class="col-xs-10">
							<div class="panel panel-default" style="border-radius: 0;">
								<div class="panel-body">
									<a href="#" onclick="upvoteTag({{tag.0}});return false;"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="float:left; width:15%; text-align:left;height:100%;color:green"> {{tag.2}}</span></a>
									<span style="float:left; width:70%; text-align:center;"><a href="/home/tag/{{tag.0}}" class="text-center">{{tag.1}}</a></span>
									<a href="#" onclick="downvoteTag({{tag.0}});return false;"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="float:left; width:15%; text-align:right;height:100%;color:red"> {{tag.3}} </span></a>
								</div>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="panel panel-default" style="border-radius: 0;border:0;box-shadow:0 0 0 0">
								<div class="panel-body" style="border:0">
									<input class="tag" type="checkbox" value="{{tag.0}}">
								</div>
							</div>
						</div>
					</div>
				{%endfor%}
				<button type="button" onclick="explore()" class="btn btn-primary pull-right">Explore</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addTagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add Tag</h4>
			</div>
			<div class="modal-body">
				<div class="form-inline text-center">
					<div class="form-group">
						<input class="form-control" id="tagField" placeholder="Tag" name="tag">
					</div>
					<a href="#" type="submit" class="btn btn-default" onclick="addTag();return false;">Save</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>



{% endblock %}
