{% extends 'website/base.html' %}

{% load url from future %}

{% block container %}

	{%for row in row1%}
	<a href = "/home/release/{{row.0}}">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3><a href="/home/release/{{row.0}}">{{row.2}}</a><small class="text-right pull-right">{{row.4}}</small></h3>
						<a href="/home/country/{{row.3}}" class="lead" style="color:#949494">{{row.3}}</a>
					</div>
				</div>
			</div>
		</div>
	</a>
	{%endfor%}
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<nav>
				<ul class="pager">
					<li class="previous"><a href="\home\tag\{{query}}?offset={{previousoffset}}">Previous</a></li>
					<li class="next"><a href="\home\tag\{{query}}?offset={{offset}}">Next</a></li>
				</ul>
			</nav>
		</div>
	</div>
	{{count}}

{% endblock %}
